Source: ros-melodic-turtlebot3-simulations
Section: misc
Priority: extra
Maintainer: Pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: http://wiki.ros.org/turtlebot3_simulations
Standards-Version: 3.9.2

Package: ros-melodic-turtlebot3-simulations
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-turtlebot3-fake, ros-melodic-turtlebot3-gazebo
Description: ROS packages for the turtlebot3 simulation (meta package)
